gunicorn==20.1.0
pydantic[email,dotenv]>=1.7.0
uvicorn==0.15.0
fastapi==0.68.1
fastapi-utils==0.2.1
fastapi-sqlalchemy==0.2.1
sqlalchemy==1.4.26
sqlalchemy-utils==0.37.9
alembic==1.7.1
psycopg2-binary==2.8.6
